<h1>Update a NYC Historical Figure</h1>
<form action='/figures/<%=@figure.id%>' method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <h3><label for="figure_name">Figure Name:</label>
    <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>"></h3>

    <br>

  <h4>Select from existing landmarks:</h4>
  <% @landmarks.each do |l| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>" id="landmark_<%=l.id%>" <%= 'checked' if @figure.landmarks.include?(l) %>><%=l.name%></input>
  <% end %>

    <br>

  <h4><label for="new_landmark">and/or create a new landmark:</label>
    <input type="text" id="new_landmark" name="landmark[name]"></h4>

    <br>

  <h4>Select from existing titles:</h4>
  <% @titles.each do |t| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%=t.id%>" id="title_<%=t.id%>" <%= 'checked' if @figure.titles.include?(t) %>><%=t.name%></input>
  <% end %>

    <br>

    <h4><label for="new_title">and/or create a new title:</label>
      <input type="text" id="new_title" name="title[name]"></h4>

      <br>

  <input type="submit" value="Edit Figure">
</form>
